<h2>Log In</h2>

<%= form_with url: login_user_path, local: true do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email %><br>

  <%= form.label :password %>
  <%= form.password_field :password %><br>

  <%= form.submit "Log In" %>
<% end %>