<h2>Create a New User</h2>

<%= form_with model: @user, data: { turbo: false }, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, required: true %><br>
  
  <%= form.label :email %>
  <%= form.text_field :email, required: true %><br>
  
  <%= form.label :password, "Password:", required: true %>
  <%= form.password_field :password %><br>
  
  <%= form.label :password_confirmation, "Password Confirmation:", required: true %>
  <%= form.password_field :password_confirmation %><br>
  
  <%= form.submit "Create New User" %>
<% end %>
